<h1>Home</h1>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="ad-consent">
    <label class="form-check-label" for="ad-consent">Ad Consent</label>
</div>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="analytics-consent">
    <label class="form-check-label" for="analytics-consent">Analytics Consent</label>
</div>

<form id="subscribe" class="mt-3">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="mt-2 btn btn-primary">Subscribe</button>
</form>

<div class="mt-5" style="height: 2000px; border: 1px solid black; background: #ddd;">
    Tall stuff
</div>

<div id="footer" style="text-align: center;">
    Footer
</div>

{{#section 'scripts'}}
    <script src='/js/home.js'></script>
{{/section}}
