<h1>Home</h1>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="ad-consent">
    <label class="form-check-label" for="ad-consent">Ad Consent</label>
</div>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="analytics-consent">
    <label class="form-check-label" for="analytics-consent">Analytics Consent</label>
</div>

{{#section 'scripts'}}
<script src='/js/home.js'></script>
{{/section}}