<!DOCTYPE html>
<head>
	<!-- Google Tag Manager -->
	<!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5L9RG76');</script>-->
	<!-- End Google Tag Manager -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150904787-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-150904787-4');
	</script>

	<title>Home</title>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5L9RG76"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
	<!-- End Google Tag Manager (noscript) -->

	<h1>Home</h1>

        <ul>
                <li><a href="/store">Store</a></li>
		<li><a href="/search?s=my-searchterm">Search</a></li>
        </ul>

	<div style="height: 2000px; border: 1px solid black; background: #ddd;">
		Tall stuff
	</div>

	<div id="footer" style="text-align: center;">
		Footer
	</div>

	<script src="/js/main.js"></script>
</body>
</html>
